<!DOCTYPE html>
<html>
<head>
	<title>BoomRoom v2</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="styles/css/styles.css">

	<!-- Scripts -->
	<script type="text/javascript" src="scripts/compiled/bundle.js"></script>
</head>
<body>
	<h1>Cool Beans</h1>
</body>
</html>