<!DOCTYPE html>
<html>
<head>
	<title>BoomRoom v2</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="styles/css/styles.css">

	<!-- Scripts -->
	<!-- Bundle - Loads browserified libraries -->
	<script type="text/javascript" src="scripts/bundle.js"></script>
</head>
<body>
	<!-- List of currently open rooms -->
	<ul id="room-list">
	</ul>

	<!-- Kickoff the backbone -->
	<script type="text/javascript">
		var rooms = new BoomRoom.Collections.RoomCollection();
	</script>
</body>
</html>