<!DOCTYPE html>
<html>
<head>
	<title>BoomRoom v2</title>

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/styles/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/styles/css/room.css">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

	<!-- Scripts -->
	<!-- Bundle - Loads browserified libraries -->
	<script type="text/javascript" src="/scripts/bundle.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	<div class="container">
		Hello there
		<ul>
			<li><%= user.username %></li>
		</ul>
	</div>
	<script type="text/javascript">
		var socket = io.connect('http://localhost');
		socket.emit('subscribe', { room: '<%= room_id %>', username: '<%= user.username %>' })

		socket.on('joined', function(data) {
			console.log(data);
			$('ul').append('<li username="' + data.username + '">' + data.username + '</li>');
		});

		socket.on('left', function(data) {
			$('li[username=' + data.username + ']').remove();
		});
	</script>
</body>
</html>