/////////////////////////
// Rooms Index Styling //
/////////////////////////

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Lato;
}

a {
	text-decoration: none;
}

// General Container
.container {
	width: 100%;
	height: 100%;
	.column {
		height: 100%;
		float: left;
	}
	.half-row {
		width: 50%;
		height: 100%;
		float: left;
	}
}

// Room Action Container
#room-action-container {
	width: 40%;
	background-color: rgba(0,191,127,0.6);
	#logo-container {
		font-family: Lato;
		font-size: 48px;
		margin: 0 auto;
		width: 320px;
		text-align: center;
		height: 40%;
		div {
			position: relative;
			top: 50%;
			-webkit-transform: translate(0%, -60%);
			-moz-transform: translate(0%, -60%);
			-ms-transform: translate(0%, -60%);
			-o-transform: translate(0%, -60%);
			transform: translate(0%, -60%);
			#logo-first-word {
				color: #F47E20;
			}
			#logo-slash {
				color: #00ADEE;
				font-weight: bold;
				font-size: 60px;
				position: relative;
				top: 6px;
			}
			#logo-second-word {
				color: #F22738;
			}
		}
	}
	#room-actions {
		height: 60%;
		ul {
			height: 100%;
			li {
				height: 33.333%;
				font-family: Lato;
				a {
					position: relative;
					top: 50%;
					display: block;
					margin: 0 auto;
					text-decoration: none;
					-webkit-transform: translate(0%, -50%);
					-moz-transform: translate(0%, -50%);
					-ms-transform: translate(0%, -50%);
					-o-transform: translate(0%, -50%);
					transform: translate(0%, -50%);
				}
			}
		}
	}
}

// Room List Container
#room-list-container {
	width: 60%;
	background-color: #fff;
	#room-list {
		padding: 40px;
		.room-list-item {
			float: left;
			width: 48%;
			margin: 1%;
			height: 200px;
			background-color: rgba(0,0,0,0.5);
		}
	}
}


